<launch>
    <arg name="grasp_on" default="0"/>
    <param name="grasp_on" type="bool"  value="$(arg target)"/>
    <node pkg="dobot" type="DobotServer" name="DobotServer" output="screen"/>
    <node pkg="dobot" type="DobotClient_PTP" name="DobotClient_PTP" output="screen" launch-prefix=”xterm -e"/>
</launch>  

